*{
	padding:0;
	margin:0;
}

body{
	width: 67em;
	margin: auto;
}

header{
	height: 10em;
	background-color:rgba(53, 79, 24, 0.19);
	display: flex;
	flex-direction: row;
	justify-content:space-between;
	border:0.3em solid #a09357;
}

header .logo{
	width: 25em;
	height: 6em;
	margin:30px 0 0 15px;
}
header  nav{
	width: 12em;
	height: 2.7em;
	margin:50px 0 0 30px;
	background-color: #a09357;
	-webkit-box-shadow: -5px 3px 16px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: -5px 3px 16px -2px rgba(0,0,0,0.75);
	box-shadow: -5px 3px 16px -2px rgba(0,0,0,0.75);
}

header nav ul{
	margin-top:14px;
	width: 41em;
}
header nav ul li{
	list-style: none;
	width: 20px;
	font-size: 20px;
	display: inline-block;
	margin: 0 35px 0 8px;

}

header nav ul li a{
	text-decoration:none;
	color:#ffffff;
}
header nav ul li a:hover{
	color:#a09357;
	background-color:#fff;
	padding: 8px;
}


h2{
	color:#fff;
	padding: 4px;
	border-left: 2px solid #a09357;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	
}

main{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 17px;
	min-height:450px; 
	background-image:url("../images/back.jpg");
/*	margin:-30px 0 10px 0;*/
}

#buscador{
	width: 600%;
	margin:200px 0 0 300px;
}
#buscador #buscarLibro{
	width: 400px;
	height: 42px;
	border:2px solid #a09357;
	font-size: 18px;
	color: #a09357;
}

#buscador #buscarLibro:focus{
    border:2px solid #a09357;
    outline: none;
}

#buscador #search{
	width: 120px;
	height: 44px;
	background-color: #a09357;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	border:0px;
	font-size: 20px;
}

article {
	width: 100em;
	text-align: justify;
	margin: 1em;
	background-color:rgba(53, 79, 24, 0.19);
}

article h3{
	margin-top: 6px;
	color:#fff;
	background-color:#a09357;
	padding: 3px;
	border-left: 2px solid #a09357;
}
article img{
	width: 25em;
	float: left;
	margin:1px 10px 0 0;
	border:2px solid #a09357;
}

article p{
	content:"...";
	margin: 10px 10px 20px 0;
}
article a{
	margin-top:30px;
	width:100px;
	height: 40px;
	background-color: #a09357;
	border:0px;
	color:#ffff;
	padding:8px; 
	font-family: Helvetica;
	text-decoration: none;
}
article a:hover{
	border-bottom: 2px solid #a09357;
	color:#a09357;
	background-color: #fff;
}


footer{
	/*margin-top: 2em;*/
	height: 3em;
	border-top:0.2em solid #a09357;
	background-color:rgba(53, 79, 24, 0.19);	
	color:#665b2a;
}
footer p{
	height: 0.4em;
	width:  10em;
	margin: auto;
	margin-top: 1.2em;
}

/* //////Single item page ///////////*/

#singleItem{
	display: flex;
	flex-direction: column;
}

#singleItem ul{
	list-style: none;
	margin:0px 4px 0 4px;
}
#singleItem ul li{
	padding: 5px;
	width: 150px;
	border-bottom: 2px solid #a09357;
}

#singleItem img{
	margin: 10px;
}
#singleItem h3{
	margin-left: 10px;
}

#singleItem p{
	margin: 10px;
}
#singleItem  input{
	margin: 10px 4px 10px 5px;
	width:155px;
	height: 40px;
	background: #a09357;
	border:0;
	font-size: 25px;
	color:#fff;
}

/* login*/

#login {
	margin: 2.3em;
}
	
#login form{
	width: 20em;
	margin:30px 0  0 350px;
	background-color:rgba(53, 79, 24, 0.19);
	border:2px solid grey;
	height: 250px;
	
}

#login form label{
	float: left;
	width: 200px;
	margin: 15px 5px 0 20px;
	color:#665b2a;
}
#login input{
	width: 300px;
	height: 2.5em;
	margin-bottom: 10px;
	border-radius: 5px;
	border:1px solid #a09357;
	margin-left: 20px;
}

#login #login_btn{
	margin-top: 30px;
	background-color: #a09357;
	color:#fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

#login #login_btn:focus{
	background-color: #fff;
	color:black;
}
#login input:focus{
	border:1px solid #a09357;
    outline: none;
}


/* REGISTER */

#register {
	margin: 2.3em;
}
	
#register form{
	
	width:45em;
	margin:30px 0  0 100px;
	background-color:rgba(53, 79, 24, 0.19);
	border:2px solid grey;
	height: 25em;
	
}
#register form #register_col1{
	width: 15em;
	float: left;
	margin:24px 60px 0 30px;
}
#register form #register_col2{
	width: 20em;
	margin:24px 30px 0 0;
	float: right;
}


#register form   label{
	float: left;
	width: 100px;
	margin: 5px;
	margin-left: 20px;
	color:#665b2a;
}
#register  input{
	width: 300px;
	height: 2.5em;
	margin-bottom: 10px;
	border-radius: 5px;
	border:1px solid #a09357;
	margin-left: 20px;
}

#register #register_btn{
	margin-top: 30px;
	background-color: #a09357;
	color:#fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

#register #register:focus{
	background-color: #fff;
	color:black;
}
#register input:focus{
	border:1px solid #a09357;
    outline: none;
}

#register form #register_col2 h3{
	font-size: 16px;
	color:green;
	float: left;
	margin:0 5px 0 22px;
}
#register form a {
	color:blue;
	text-decoration: underline;
}

#add_book{
	width:720px;
	margin: auto;
}


#add_book  form input{
		width: 300px;
		height: 2.5em;
		margin-bottom: 10px;
		border-radius: 5px;
		border:1px solid #a09357;
		margin-left: 20px;
}
#add_book form #add_book_col1{
	width: 350px;
	float: left;

}
#add_book form #add_book_col2{
	width: 350px;
	float: right;
	
}
#add_book form  label{
	width: 100px;
	margin: 5px;
	margin-left: 20px;
	color:#665b2a;
}
#menu_librarian {
	width:100%;
	background: #665b2a;
	height: 2.3em;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
#menu_librarian h3,ul,#buscador_librarian{
	margin-top:6px;
	color:white;
}
#menu_librarian ul{
	width: 20em;
	background: #665b2a;
	height: 1.9em;
	list-style:none;
	display: flex;
	flex-direction: row;
	justify-content: space-around;


}

#menu_librarian ul li a{
	text-decoration: none;
	color:#fff;
	

}
#menu_librarian ul li {
	margin-top: 1px;
	border-right:1px solid grey;
	padding: 5px 10px 5px 0;
}

#menu_librarian ul li:hover{
	border-bottom:2px solid #fff;
	padding-bottom: 8px
}

/*LIBRARIAN*/
#buscador_librarian{
	margin:0;
}
#buscador_librarian form{
	margin:0;
}
#buscador_librarian #buscarLibro_librarian{
	width: 300px;
	height: 30px;
	border:2px solid #a09357;
	font-size: 18px;
	color: #a09357;
}

#buscador_librarian #buscarLibro_librarian:focus{
    border:2px solid #a09357;
    outline: none;
}

#buscador_librarian #search_librarian{
	width: 120px;
	height: 32px;
	background-color:green;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	border:0px;
	font-size: 20px;
}
